* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-header: #b06ab3;
  --color-main: linear-gradient(rgba(253, 45, 97, 100));
  --cityFont: "Anton", sans-serif;
}
html {
  font-size: 15px;
}

header {
  min-height: 8vh;
  padding: 2px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-header);
}

.weather_wrapper {
  position: relative;
  height: 90vh;
  background: linear-gradient(to top, #b06ab3, #4568dc);
}
#search {
  position: relative;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: lightgray 2px solid; */
}
label {
  font-size: 1.1rem;
  color: antiquewhite;
}
input {
  padding: 3px;
  opacity: 0.4;
  margin-left: 4px;
  margin-right: 6px;
  /* outline: none; */
  border: 2px solid rgb(239, 238, 240);
}
/* input:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
} */
input:valid {
  border-color: rgb(155, 127, 184);
}

button {
  padding: 3px;
  border-radius: 3px;
  background-color: #b06ab3;
  padding: 3px 10px;
  color: antiquewhite;
  border: wheat 1px solid;
  cursor: pointer;
}
button:hover {
  background-color: #3f2141;
}

.topcorner {
  position: absolute;
  cursor: pointer;
  top: 2px;
  right: 10px;
  color: #cbcdd4;
}
.fancy_link {
  position: relative;
  color: #a7a8ac;
  cursor: pointer;
}
.fancy_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: currentColor;
  cursor: pointer;

  transform: scaleX(0.5);
  transform-origin: left;
}
.fancy_link:hover::after {
  cursor: pointer;
  transform: scaleX(1);
  transition: transform 250ms ease-in;
}

/* .loading {
  position: absolute;
  bottom: 2rem;
  left: 50%;
} */
#weatherInfo_wrapper {
  height: 70%;
  text-align: center;
  padding-top: 2rem;
  width: fit-content;
}
.weatherInfo {
  display: flex;
  width: 40%;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: lightgray 2px solid;
}

#weather_city {
  font-family: var(--cityFont);
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* .temperature {
  display: flex;
} */
.tempearature_far,
.tempearature_cel {
  display: block;
}
.active {
  background-color: #3f2141;
}
